<%- model_class = Audio -%>
<div class="page-header">
  <h3><%= @audio.titulo %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @audio.titulo %></dd>
  <dt><strong>Áudio:</strong></dt>
  <dd>
    <%= link_to "Download", @audio.arquivo.url %>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), entidade_audios_path, :class => 'btn btn-default'  %>

<% if user_signed_in? %>
  <% if (current_user.email == @audio.entidade.email || current_user.admin?) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_entidade_audio_path(@dados, @audio), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), entidade_audio_path(@dados, @audio), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) }, :class => 'btn btn-danger' %>
  <% end %>
<% end %>
