<%- model_class = Projeto -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Convênios</th>
      <th>Data Início</th>
      <th>Data Fim</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= link_to projeto.id, entidade_projetos_path(@dados) %></td>
        <td><%= link_to projeto.nome, entidade_projetos_path(@dados) %></td>
        <td><%= projeto.convenio %></td>
        <td><%= projeto.data_inicio %></td>
        <td><%= projeto.data_fim %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_entidade_projeto_path(@dados, projeto), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      entidade_projeto_path(@dados, projeto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entidade_projeto_path,
            :class => 'btn btn-primary' %>
