<%= form_for @entidade, :html => { :class => "form-horizontal entidade" } do |f| %>

    <% if @entidade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@entidade.errors.count, "error") %> impediu de gravar:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @entidade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Entidade", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :entidade, :autofocus => true, :class => 'form-control', :maxlength => '254' %>
    </div>
    <%= error_span(@entidade[:entidade]) %>
  </div>

  <div class="control-group">
    <%= f.label "E-Mail", :class => 'control-label' %>
    <div class="controls">
      <% if params[:action] == 'new' %>
        <%= f.text_field :email, :value => current_user.email, :class => 'form-control', :maxlength => '254', :disabled => true %>
      <% else %>
        <%= f.text_field :email, :class => 'form-control', :maxlength => '254', :disabled => true %>
      <% end %>

    </div>
    <%= error_span(@entidade[:email]) %>
  </div>

  <% if params[:action] == 'new' %>
    <%= f.hidden_field :email, :value => current_user.email %>
  <% end %>

  <div class="control-group">
    <%= f.label "Responsável", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :responsavel, :class => 'form-control', :maxlength => '254' %>
    </div>
    <%= error_span(@entidade[:responsavel]) %>
  </div>

  <div class="control-group">
    <strong>UF</strong>
    <div class="controls">
        <%= f.collection_select :uf, Uf.all, :sigla, :sigla, {:prompt => true}, :id => 'uf' %>
    </div>
    <%= error_span(@entidade[:uf]) %>
  </div>

<div class="control-group" id='select-municipio'>
  <%= f.label "Município", :class => 'control-label' %>
  <div class="controls">
    <% municipios = Municipio.from("municipios, ufs as estado").where("estado.sigla ILIKE ?", @entidade.uf).where("estado.id = municipios.estado_id") %>
    <%= f.collection_select :municipio, municipios, :nome, :nome, { :selected => @entidade.municipio.to_s }, :id => 'municipio' %>
  </div>
</div>

  <div class="control-group">
    <%= f.label "Endereço", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'form-control', :maxlength => '254' %>
    </div>
    <%= error_span(@entidade[:endereco]) %>
  </div>

  <div class="control-group">
    <%= f.label "Telefone", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
    <%= error_span(@entidade[:telefone]) %>
  </div>

  <div class="control-group">
    <%= f.label "Descritor GESAC", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descritor, :class => 'form-control' %>
    </div>
    <%= error_span(@entidade[:descritor]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Telecentro?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :telecentro, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:telecentro]) %>
  </div>

  <div class="control-group">
    <%= f.label "É GESAC?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gesac, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:gesac]) %>
  </div>

  <div class="control-group">
    <%= f.label "É Ponto de Cultura?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :ponto_cultura, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:ponto_cultura]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Estudos Culturais?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :estudo_cultural, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:estudo_cultural]) %>
  </div>

  <div class="control-group">
    <%= f.label "É Quilombo?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :quilombo, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:quilombo]) %>
  </div>

  <div class="control-group">
    <%= f.label "É Quilombo Urbano?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :quilombo_urbano, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:quilombo_urbano]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Capoeira?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :capoeira, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:capoeira]) %>
  </div>

  <div class="control-group">
    <%= f.label "É Terreiro?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :terreiro, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:terreiro]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Núcleo de Formação?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :nucleo_formacao, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:nucleo_formacao]) %>
  </div>

  <div class="control-group">
    <%= f.label "Grupo de Mestre?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :grupo_mestre, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:grupo_mestre]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possuí Rádio?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :radio, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:radio]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Estúdio?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :estudio, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:estudio]) %>
  </div>

  <div class="control-group">
    <%= f.label "Possui Roupas e Acessórios?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :roupa_acessorio, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:roupa_acessorio]) %>
  </div>

  <div class="control-group">
    <%= f.label "Realiza Eventos?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :evento, 'Não' => false, 'Sim' => true %>
    </div>
    <%= error_span(@entidade[:evento]) %>
  </div>

  <div class="control-group">
    <%= f.label "Descrição", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descricao,:class => 'form-control', :cols => 64, :rows => 6, :maxlength => '4096' %>
    </div>
    <%= error_span(@entidade[:descricao]) %>
  </div>

  <% if user_signed_in? %>
    <br/>
    <% if (current_user.email == @entidade.email || current_user.admin?) ||  params[:action] == 'new' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), entidades_path, :class => 'btn btn-default' %>
    <% end %>
  <% end %>

<% end %>
