<%- model_class = Entidade -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Entidade</th>
      <th>E-Mail</th>
      <th>Município</th>
      <th>UF</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @entidades.each do |entidade| %>
      <tr>
        <td><%= link_to entidade.id, entidade_path(entidade) %></td>
        <td><%= link_to entidade.entidade, entidade_path(entidade) %></td>
        <td><%= entidade.email %></td>
        <td><%= entidade.municipio %></td>
        <td><%= entidade.uf %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_entidade_path(entidade), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      entidade_path(entidade),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entidade_path,
            :class => 'btn btn-primary' %>
