<%- model_class = Entidade -%>
<div class="page-header">
  <h3><%=@entidade.entidade %></h3>
  <%= link_to "Projetos (#{@entidade.projetos.size.to_s})", entidade_projetos_path(@entidade) %> 
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px;"> (<%= link_to "Enviar Novo", new_entidade_projeto_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %> | 
  <%= link_to "Fotos  (#{@entidade.fotos.size.to_s})", entidade_fotos_path(@entidade) %>
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px"> (<%= link_to "Enviar Novo", new_entidade_foto_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %> | 
  <%= link_to "Áudios (#{@entidade.audios.size.to_s})", entidade_audios_path(@entidade) %>
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px"> (<%= link_to "Enviar Novo", new_entidade_audio_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %> | 
  <%= link_to "Videos (#{@entidade.videos.size.to_s})", entidade_videos_path(@entidade) %>
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px"> (<%= link_to "Enviar Novo", new_entidade_video_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %> | 
  <%= link_to "Textos (#{@entidade.textos.size.to_s})", entidade_textos_path(@entidade) %>
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px"> (<%= link_to "Enviar Novo", new_entidade_texto_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %> | 
  <%= link_to "Cursos (#{@entidade.cursos.size.to_s})", entidade_cursos_path(@entidade) %> 
  <% if user_signed_in? %> <% if (current_user.email == @entidade.email || current_user.admin?) %> <strong style="font-size:9px"> (<%= link_to "Enviar Novo", new_entidade_curso_path(@entidade), :style => 'color: #FF2D2D;' %>) </strong> <% end %> <% end %>
</div>

<dl class="dl-horizontal">
  <dt><strong>E-Mail:</strong></dt>
  <dd><%= @entidade.email %></dd>
  <dt><strong>Responsável:</strong></dt>
  <dd><%= @entidade.responsavel %></dd>
  <dt><strong>Município:</strong></dt>
  <dd><%= @entidade.municipio %></dd>
  <dt><strong>UF:</strong></dt>
  <dd><%= @entidade.uf %></dd>

  <% if user_signed_in? %>
    <% if (current_user.email == @entidade.email || current_user.admin?) %>
      <dt><strong>Endereço:</strong></dt>
      <dd><%= @entidade.endereco %></dd>
      <dt><strong>Telefone:</strong></dt>
      <dd><%= @entidade.telefone %></dd>
    <% end %>
  <% end %>

  <dt><strong>Descritor GESAC:</strong></dt>
  <dd><%= @entidade.descritor %></dd>
  <dt><strong>Possui Telecentro?:</strong></dt>
  <dd><%= I18n.t(@entidade.telecentro.to_s) %></dd>
  <dt><strong>É GESAC?:</strong></dt>
  <dd><%= I18n.t(@entidade.gesac.to_s) %></dd>
  <dt><strong>É Ponto de Cultura?:</strong></dt>
  <dd><%= I18n.t(@entidade.ponto_cultura.to_s) %></dd>
  <dt><strong>Possui Estudos Culturais?:</strong></dt>
  <dd><%= I18n.t(@entidade.estudo_cultural.to_s) %></dd>
  <dt><strong>É Quilombo?:</strong></dt>
  <dd><%= I18n.t(@entidade.quilombo.to_s) %></dd>
  <dt><strong>É Quilombo Urbano?:</strong></dt>
  <dd><%= I18n.t(@entidade.quilombo_urbano.to_s) %></dd>
  <dt><strong>Possui Capoeira?:</strong></dt>
  <dd><%= I18n.t(@entidade.capoeira.to_s) %></dd>
  <dt><strong>É Terreiro?:</strong></dt>
  <dd><%= I18n.t(@entidade.terreiro.to_s) %></dd>
  <dt><strong>Possui Núcleo de Formação?:</strong></dt>
  <dd><%= I18n.t(@entidade.nucleo_formacao.to_s) %></dd>
  <dt><strong>Possui Grupo de Mestres?:</strong></dt>
  <dd><%= I18n.t(@entidade.grupo_mestre.to_s) %></dd>
  <dt><strong>Possui Rádio?:</strong></dt>
  <dd><%= I18n.t(@entidade.radio.to_s) %></dd>
  <dt><strong>Possui Estúdo?:</strong></dt>
  <dd><%= I18n.t(@entidade.estudio.to_s) %></dd>
  <dt><strong>Possui Roupas e Acessórios?:</strong></dt>
  <dd><%= I18n.t(@entidade.roupa_acessorio.to_s) %></dd>
  <dt><strong>Realiza Eventos?:</strong></dt>
  <dd><%= I18n.t(@entidade.evento.to_s) %></dd>
  <dt><strong>Descrição:</strong></dt>
  <dd><%= @entidade.descricao %></dd>

  <br/>
  <dt><strong>Localização</strong></dt>
  <dd>
    <%= map(:center  => {:latlng => [@entidade.latitude, @entidade.longitude], :zoom => 8 },
            :markers => [ {:latlng => [@entidade.latitude, @entidade.longitude], :popup => "#{@entidade.entidade}"}] ) %>
  </dd>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), entidades_path, :class => 'btn btn-default'  %>
<% if user_signed_in? %>
  <% if (current_user.email == @entidade.email || current_user.admin?) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_entidade_path(@entidade), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), entidade_path(@entidade), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) }, :class => 'btn btn-danger' %>
  <% end %>
<% end %>
